<h2 class="hx:mt-12 hx:mb-4 hx:text-2xl hx:text-gray-900 hx:dark:text-white">{{ i18n "lastUpdatedContent"}}</h2>
{{- $dateFormat := site.Params.dateFormat | default "2006-01-02" -}}
{{- $recentCount := site.Params.recentUpdatesCount | default 6 -}}
{{- $contentTypes := site.Params.recentUpdatesTypes | default (slice "blog" "docs") -}}
{{- $recentUpdates := where site.RegularPages.ByLastmod.Reverse "Kind" "page" -}}
{{- $recentUpdates = where $recentUpdates "Params.hidden" "!=" true -}}
{{- with $contentTypes -}}
  {{- $recentUpdates = where $recentUpdates "Type" "in" $contentTypes -}}
{{- end -}}
{{- $recentUpdates = first $recentCount $recentUpdates -}}

{{- with $recentUpdates -}}
  {{- if gt (len .) 0 -}}
    <div class="hextra-cards hx:mt-4 hx:gap-4 hx:grid not-prose" style="--hextra-cards-grid-cols: 1;">
      {{- range $recentUpdates -}}
        {{- $link := .RelPermalink -}}
        {{- $title := .Title -}}
        {{- $description := .Description | default .Summary -}}
        {{- $subtitle := (truncate 100 "..." $description) | plainify -}}
        {{- $date := .Lastmod.Format $dateFormat -}}
        {{- $categories := .Params.categories -}}
        {{- $categoryText := "" -}}
        {{- with $categories -}}
          {{- if reflect.IsSlice $categories -}}
            {{- $categoryText = index $categories 0 -}}
          {{- else -}}
            {{- $categoryText = $categories -}}
          {{- end -}}
        {{- end -}}
        {{- partial "shortcodes/card" (dict 
          "page" .Page
          "link" $link
          "title" $title
          "subtitle" (printf "%s • %s" $date $subtitle)
          "icon" "document-text"
          "tag" $categoryText
        ) -}}
      {{- end -}}
    </div>
  {{- else -}}
    <p class="hx:text-gray-500 hx:dark:text-gray-400 hx:text-center hx:py-8">{{ i18n "noRecentUpdates" }}</p>
  {{- end -}}
{{- else -}}
  <p class="hx:text-gray-500 hx:dark:text-gray-400 hx:text-center hx:py-8">{{ i18n "noRecentUpdates" }}</p>
{{- end -}}